[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[requires]
python_version = "3.6"

[packages]
"e1839a8" = {editable = true, path = "."}

[dev-packages]
"flake8" = "*"
pylint = "*"
coverage = "*"
tox = "*"
yapf = "*"
ipdb = "*"
model-mommy = "*"
tblib = "*"
pylint-django = {git = "https://github.com/PyCQA/pylint-django.git", ref = "4316c3d90f4ac6cbbeddfc8d431f5d4e031d5cf1"}
isort = "*"
"pep8" = "*"
