[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[requires]
python_version = "3.6"

[packages]
e1839a8 = {editable = true,path = "."}

[dev-packages]
"flake8" = "*"
pylint = "*"
coverage = "*"
tox = "*"
yapf = "*"
ipdb = "*"
model-mommy = "*"
tblib = "*"
pylint-django = "*"
isort = "*"
"pep8" = "*"
pre-commit = "*"
mypy = "*"
